<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramsy.slidingtiles">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpPage"
            android:parentActivityName=".LoginPage"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".LeaderBoardActivity"
            android:label="@string/title_activity_leader_board"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.LeaderBoard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlidingTilesGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseGameActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ChooseGameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseGameSizeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ChooseGameSizeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SavedGamesActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SavedGamesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectPicture">
            <intent-filter>
                <action android:name="android.intent.action.SelectPicture" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FinishedGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.FinishedGameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ImagePlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.ImagePlaygroundActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MemoryGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MemoryGameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MemoryMatrixActivity">
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MemoryMatrixActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Playground">
            <intent-filter>
                <action android:name="android.intent.action.Playground" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeedTheNanu.NanuGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.NanuGameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>